extends baseEmail

block content 

  p Hi #{firstName},
  p Reset Your Password
  p Forgot your password ? go to the folowing link to reset your password #{url}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') reset password
  p If you didn't forget your Password igonre this email